<div class="aside">
	<div class="panel-group" id="accordion">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#collapseOne"
						data-toggle="collapse" data-parent="#accordion"> 상담 문의 </a>
				</h4>
			</div>
			<div class="panel-collapse collapse in" id="collapseOne">
				<div class="panel-body">
					<strong>팀장 : 방 혁 준</strong><br> 
					<strong>대표번호</strong> : 02-2659-0088<br> 
					<strong>휴대전화</strong> : 010-2715-7138<br>
					<strong>이메일</strong> : joon@coontec.com<br>
				</div>
			</div>
		</div>
	</div>
</div>