@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/

html, body {font-size:13px; color:#000; font-family: "Nanum Gothic", sans-serif;  }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
body a:hover {  transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
 -o-transition:0.5s all;
 -ms-transition:0.5s all;}
.soft {transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
 -o-transition:0.5s all;
 -ms-transition:0.5s all;}
div, li, p, span, dl, dt,dd  {font-family: "Nanum Gothic", sans-serif; padding:0; margin:0; list-style:none; } 


/* 서브페이지 우측 스크롤메뉴 */ 
#quick_wrap {width:1000px; margin:0 auto; text-align:left; margin-top:0px; position:relative;}
#quickmenu_sub {position:absolute; right:-127px; top:133px; width:126px; height:auto; z-index:1} 
#quickmenu_sub{ float:left;} 
#quickmenu_sub a img{vertical-align:middle;} 
/* 가로사이즈 */
.wide {width:100%; clear:both;}

.w-default {width:1030px; margin:0 auto;}  /* 1030px*/
.w-default-02 {width:1230px; margin:0 auto;}  /* 1030px*/

/*메인컬러 */
.color-main {background-color:#13A79D;}
.color-font{ color:#24a4de;}



.section {}
#container {margin: 0 auto;
     width: 1000px;
     
}
#header { background:#fff; position: relative; float:left; }
#header h1 {float:left;}

#header .nav {float:right; margin-top:15px;}
#header .nav p { float:right; margin-bottom:22px; margin-right:22px; }
#header .nav p a.korea { background:url(../img/main/korea.gif) 0 100% no-repeat; padding-left:30px;}
#header .nav p a.usa { background:url(../img/main/usa.gif) 0 100% no-repeat; padding-left:30px; margin-left:20px;}
#header .nav p a, 
#header .nav p a:visited { font-size:11px;}
#header .nav p a:hover {text-decoration:none; color:#24a4de}


#header .nav ul li a
#header .nav ul li a:visited,
#header .nav ul li a:link {text-decoration:none; padding:14px 20px;}
#header .nav ul li a:hover,
#header .nav ul li a.active { background:#fff; color:#24a4de;   transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
 -o-transition:0.5s all;
 -ms-transition:0.5s all }

#header .nav li { float:left; font-size:18px; font-weight:900; color:#000; margin-right:30px;  }
#header .nav li:last-child {margin-right:0;}

.nav:before,
.nav:after,
.nav > ul:before,
.nav > ul:after {
  content: '';
  display: block;
  clear: both;
}

/*부메뉴를 숨깁니다. */
.nav > ul ul {
  margin-top:7px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  /*border:1px #eee solid;*/
  padding:0 0;
  background:#fff;
  transition:0.3s all;
 -webkit-transition:0.3s all;
 -moz-transition:0.3s all;
 -o-transition:0.3s all;
 -ms-transition:0.3s all;
 border-top:2px #24a4de solid !important;
 border:1px #d7d7d7 solid;
/* 
  border-radius:0.4em;*/
  z-index:900000000000;
  width:230px;
}




/*메인 메뉴에 마우스가 올라갔을 때 부메뉴를 노출시킵니다. */
.nav > ul li:hover ul {
  opacity: 1;
  visibility: visible;
  /*left: 0;*/
  margin-top:11px;
  display:block;
 
}



.nav > ul > li > ul > li {position:relative!important; display:block!important; float:none !important; border-bottom:1px #eee solid; clear:both; padding-right:0 !important; margin-right:0 !important;} /* 세로정렬 */
.nav > ul > li > ul > li:last-child {border-bottom:0;}
.nav > ul > li > ul > li a:hover {background:#f8f8f8 !important; padding:0; margin:0;}
/* 부메뉴 텍스트에 효과를 지정합니다. */
.nav > ul ul li a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  padding:0 0; /* !important*/
  font-weight:100;
}
.nav > ul ul li a:hover {background:#fff !important; color:#000 !important; font-weight:900; padding-left:25px !important;}

.m_visual { width:1264px;   }
.m_visual p {}
.m_visual ul {}

.s_visual_wrap { background:#f1f1f1; min-height:60px;}
.s_visual_wrap .map_title { }
.s_visual_wrap .map_title h2 { float:left; font-size:28px; font-weight:700; padding-right:10px; font-family: inherit; font: 'Open Sans', sans-serif;}
.s_visual_wrap .map_title h2 span {font-family: 'Open Sans', sans-serif;}
.s_visual_wrap .map_title h3 { float:left; font-size:26px; font-weight:700;  background:url(../img/main/map_arr.gif) 0 96% no-repeat; padding-left:30px; padding-top:42px; font-family: "Nanum Gothic", sans-serif;  }
.s_visual_wrap .map_title p {clear:both; padding-top:10px; color:#818181; font-size:13px;  font-family: 'Open Sans', sans-serif;}

.s_visual_wrap .req { padding-left:0; margin-left:0;}
.s_visual_wrap .req dl { margin-top:34px;}
.s_visual_wrap .req dt { font-size:19px; font-weight:900;}
.s_visual_wrap .req dd { margin-top:8px; color:#978b8b; font-size:11px; line-height:21px;}
.s_visual_wrap .req dd span.tel {color:#6d5050; font-size:16px; font-weight:900; font-family: 'Open Sans', sans-serif;}

.index_content {margin-top:39px; }
.index_content .content_menu { }
.index_content .content_menu .category { margin-left:10px; }
.index_content .content_menu .category ul {min-height:50px;}

.index_content .content_menu .category h2 { margin-bottom:15px;}
.index_content .content_menu .category_img { background:url(../img/main/category_01.gif) top center no-repeat; width:55px; height:55px; }
.index_content .content_menu .category_img_02 { background:url(../img/main/category_02.gif) top center no-repeat; width:55px; height:55px;}
.index_content .content_menu .category_img_03 { background:url(../img/main/category_03.gif) top center no-repeat; width:55px; height:55px;}

.index_content .content_menu .category li { margin-bottom:10px;}
.index_content .content_menu .category li a {line-height:23px; font-size:12px;}
.index_content .content_menu .category li a,
.index_content .content_menu .category li a:visited { }
.index_content .content_menu .category li a:hover { text-decoration:none; }
.index_content .content_menu .last { }
button.btn-default_01 {border:1px #888888 solid; background:#fff; border-radius:0px; color:#000; font-size:11px; font-family:Verdana, sans-serif; padding: 9px 12px; }
button.btn-default_01:hover {background:#fff; border:1px #fff solid;}

.index_company {background:#f7f7f7; margin-top:29px; padding-bottom:51px;}
.index_company .content { margin-left:147px; }
.index_company h2 { padding:52px 0 50px 0; font-size:26px; }
.index_company dl {}
.index_company dt { font-size:18px; padding-bottom:7px;}
.index_company dd {line-height:21px;}

.index_latest { background-color:#000; background:url(../img/main/index_latest_bg.jpg) top center no-repeat; padding:40px 0 27px 0;}
.index_latest p {}
.index_latest dl {}
.index_latest dt { color:#fff; font-size:22px; padding-bottom:15px;}
.index_latest dt a,
.index_latest dt a:visited { text-decoration:none; color:#fff;}
.index_latest dt a:hover { text-decoration:underline;}
.index_latest dd {color:#a1a0a0; line-height:19px;}

.index_latest .partner {}
.index_latest .partner h2 {  color:#fff; font-size:22px; padding-bottom:15px;}



#containder-main { padding-top:50px; padding-bottom:50px;}
h2.eng {font-family: 'Hammersmith One', sans-serif; font-size:20px; }
#containder-main .main-content p {margin:15px 0;}


/* 서브 */
#containder-sub { clear:both; margin-top:50px;}
#containder-sub .sub_wrap { width:700px; margin-right:79px; float:left;}
#containder-sub .sub_wrap h2 { font-size:24px; font-weight:900; background:url(../img/main/sub_top_border.gif) top left no-repeat; padding-top:12px; padding-bottom:32px;}
#containder-sub .sub_wrap p.btn {float:right; display:inline; margin-top:10px;}
#containder-sub .sub_wrap .containder { padding:0; margin:0; line-height:25px; margin-bottom:30px;}
#containder-sub .sub_wrap .containder h3 { font-size:18px; font-weight:700; padding:10px 0 20px 0;}
#containder-sub .sub_wrap .containder .tip {padding-left:14px; margin-bottom:15px; border-left:5px #cccccc solid; font-size:12px; font-weight:700; color:#474747;}

#containder-sub .sub_wrap .containder ul.company {background:url(../img/company/bg.jpg) 100% 0% no-repeat;}
#containder-sub .sub_wrap .containder ul.company li { padding-right:266px;}
#containder-sub .sub_wrap .containder blockquote.b_text {background:#f3f3f4; border-left:6px #515b69 solid; font-size:12px; color:#2e2e2e; line-height:25px; padding-top:16px; padding-bottom:16px;}
#containder-sub .sub_wrap .containder h3.panel-title { font-size:13px; font-weight:700; padding:0 0; line-height:25px;}
#containder-sub .sub_wrap .containder .panel-heading {  }


#containder-sub .sub_wrap .containder .solution_h2 h3 { font-size:14px; color:#2e2e2e;}
#containder-sub .sub_wrap .containder .solution_h2 blockquote {border-left: 6px #ededed solid; background-color:#fff; font-size:13px;}

#containder-sub .sub_wrap .containder .product_h2 h3  {font-size:14px; color:#2e2e2e;}
#containder-sub .sub_wrap .containder .product_h2 blockquote {border-left: 6px #ededed solid; padding-top:0 !important; padding-bottom:0; background-color:#fff;}


#containder-sub .aside { float:right; width:251px;  }
#containder-sub .aside .s_map { text-align:center; background:#24a4de; padding:14px 0 20px 0;}
#containder-sub .aside .s_map h2 { color:#fff; font-weight:600; font-size:23px; padding-top:12px;}
#containder-sub .aside .s_map li { color:#b0f1fd; }
#containder-sub .aside .s-menu ul { margin-top:18px;}
#containder-sub .aside .s-menu ul li {  border-bottom:1px #e9e9e9 solid; font-size:13px; border-left:5px solid #fff; line-height:20px;
  transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
 -o-transition:0.5s all; 
 -ms-transition:0.5s all; }
#containder-sub .aside .s-menu ul li:hover {border-left:5px solid #24a4de;}
#containder-sub .aside .s-menu ul li a,
#containder-sub .aside .s-menu ul li a:visited { display:block; padding:17px 0 17px 17px;
   transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
 -o-transition:0.5s all;
 -ms-transition:0.5s all;}
#containder-sub .aside .s-menu ul li a:hover { text-decoration:none; color:#24a4de;}
#containder-sub .aside .s-menu ul li a.active { color:#24a4de;}
#containder-sub .aside .s-menu ul li.active { border-left:5px solid #24a4de; font-weight:900;}

#containder-sub .aside .blog { margin-top:50px;}
#containder-sub .aside .blog h3 { float:left; padding-right:15px;  font-size:23px; font-weight:900; margin-bottom:12px;}
#containder-sub .aside .blog span { float:left; padding-left:15px; border-left:1px #bababa solid; color:#818181; font-size:12px; margin-top:5px;}
#containder-sub .aside .blog ul {border-top:2px #000 solid; border-bottom:1px #eee solid; padding-bottom:8px; margin-bottom:30px; clear:both; padding-top:8px;}
#containder-sub .aside .blog li { padding:8px 0 8px 8px; }
#containder-sub .aside .blog li a,
#containder-sub .aside .blog li a:visited { display:block;}
#containder-sub .aside .blog li a:hover{ text-decoration:none;}
#containder-sub .aside .blog li a.active {}




#bottom { clear:both; margin-top: 20px;}
#bottom .copyright { clear:both; width:100%; padding:15px 0; line-height:25px; } 
.sub_copy_line { border-top:1px #eee solid;}


