{% load staticfiles %} {% block content %}


<h4>기능설명</h4>
<p>고신뢰성 기능안전 제품인증이 완료된 RTOS eT-Kernel 와 AUTOSAR 플랫폼을 제공합니다.
	eT-Kernel 은 오픈소스 T-Kernel 2.0을 성능과 기능을 높이고 안정성을 강화한 리얼타임 OS입니다.</p>
<p>eT-Kernel 자동차 기능안전 표준 ISO 26262 및 IEC 61508 (산업 설비)에서 모두 최고의 안전
	무결성 수준(ASIL D, SIL 4)제품 인증을 획득했습니다. 더불어 안전매뉴얼과 안전보고서 등의 문서패키지 eT-Kernel
	Safety Package 를 제공하며, 개발 환경인 eBindar를 제공하며 이를 이용하여 ISO 26262 / IEC
	61508 에 규정 된 요구사항을 충족하여 개발 할 수 있도록 합니다.</p>
<p>eT-Kernel 시스템 규모와 용도에 맞추어 선택할 수있는 「eT-Kernel Compact」, 「eT-Kernel
	Extended」, 「eT-Kernel POSIX "의 3 개의 프로파일이 있습니다. 또한 멀티 코어 프로세서에 대응 한
	「eT-Kernel Multi-Core Edition "이 있습니다.</p>
<hr width=100%>
<h4>3개 프로파일 제공</h4>

<div style="border:1px solid black;">
	<div style="float: left;">
		<img src="{% static '/img/product/03_01_POSIX.gif'' %}">
	</div>
	<div>POSIX 사양에 준거한 Real Time OS</div>
</div>


<!-- <table border="1" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">
					<img src="{% static '/img/product/03_01_POSIX.gif'' %}">
				</p>
			</td>
			<td valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">POSIX 사양에
					준거한 Real Time OS</p>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">
					<img src="{% static '/img/product/03_01_EXTENDED.gif' %}">
				</p>
			</td>
			<td valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">메모리 보호 기능과
					프로세스 모델을 가진 대규모 시스템을 위한 Real Time OS</p>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">
					<img src="{% static '/img/product/03_01_COMPACT.gif' %}">
				</p>
			</td>
			<td valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">μITRON와 비슷한
					구성을 가진 소형 실시간성이 높은 Real Time OS</p>
			</td>
		</tr>
	</tbody>
</table> -->
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
	<img src="{% static '/img/product/03_01_MAIN.gif' %}"
		style="width: 100%">
</p>
<hr width=100%>
<h4>SMP와 AMP의 혼합을 가능하게 하는 멀티코어 지원</h4>
<p align="left">멀티 코어에 최적화된 eT-Kernel Multi-Core Edition은 SMP 형
	프로그램과 AMP 형 프로그램을 하나의 시스템에 혼합 할 수 있습니다. 또한 시스템 보호 기능은 복잡한 멀티 코어 시스템의 품질
	· 신뢰성 확보를 지원합니다.</p>
<table border="1" cellspacing="0" cellpadding="0" width="100%">
	<tbody>
		<tr width="100%">
			<td valign="top" width="30%">
				<p align="left" style="margin: 10px 10px 10px 10px">
					<img src="{% static '/img/product/03_02_MULTI.gif' %}">
				</p>
			</td>
			<td valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">멀티 코어 프로세서
					eT-Kernel</p>
			</td>
		</tr>
		<tr>
			<td valign="top  width="30%"">
				<p align="left" style="margin: 10px 10px 10px 10px">
					<img src="{% static '/img/product/03_02_TEMPORAL.gif' %}">
				</p>
			</td>
			<td valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">시간 보호 기술</p>
			</td>
		</tr>
		<tr>
			<td valign="top" width="30%">
				<p align="left" style="margin: 10px 10px 10px 10px">
					<img src="{% static '/img/product/03_02_MEMORY.gif' %}">
				</p>
			</td>
			<td valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">메모리 보호 기술</p>
			</td>
		</tr>
	</tbody>
</table>
<hr width=100%>
<h4>기능 안전 획득</h4>

<table border="1" cellspacing="0" cellpadding="0" width="100%">
	<tbody>
		<tr>
			<td colspan="2" valign="top">
				<p>eT-Kernel / Compact는 기능 안전 규격 인증을 취득</p>
				<ul>
					<li>● 자동차 용 ISO 26262 ASIL D</li>
					<li>● 산업기기 용 IEC 61508 SIL 4</li>
					<li>● 의료기기 용 IEC 62304</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<p align="center" style="margin: 10px 10px 10px 10px">
					<img src="{% static '/img/product/03_03_01.jpg' %}"><br>
					&lt;획득 기관&gt;
				</p>
			</td>
			<td valign="top">
				<p align="center" style="margin: 10px 10px 10px 10px">
					<img src="{% static '/img/product/03_03_02.jpg' %}">
				</p>
			</td>
		</tr>
	</tbody>
</table>
<hr width=100%>
<h4>AUTOSAR 의 Premium Partners이며 이에 준하는 플랫폼 제공</h4>

<table border="1" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td width="100%" valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">
					<img src="{% static '/img/product/03_04.jpg' %}"
						style="width: 100%">
				</p>
			</td>
		</tr>
	</tbody>
</table>
<hr width=100%>
<h4>다양한 분야에 적용 사례 보유</h4>
<table border="1" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td width="100%" valign="top">
				<p align="left" style="margin: 10px 10px 10px 10px">
					<img src="{% static '/img/product/03_05.jpg' %}"
						style="width: 100%">
				</p>
			</td>
		</tr>
	</tbody>
</table>


{% endblock content %}
