{% load staticfiles %}
{% block content %}

<div id="ctt_con">
	<div class="WordSection1">
		<h3>전세계 최초 부채널(Side Chnannel Attack) 공격 시스템</h3>
		<p class="MsoNormal" style="line-height: 1.5;">
			<span style="line-height: 1.5;">DPA의 원천기술 보유사인 RAMBUS
				Cryptography사의 DPA Workstation은 DPA 분석 절차 전반에 활용되는 가장 강력하고 유연한 분석
				플랫폼입니다. 데이터 수집, 분석, 평가 등 전력 분석 전 단계를 지원하고 SPA(Simple Power
				Analysis), DPA(Different Power Analysis), HO-DPA, EMA를 포함한 주요 사이드
				채널 공격에 대한 기기의 저항성을 평가할 수 있습니다. 전세계 주요 금융사, CHIP 제조사, 정부 기관들이 DPA
				Workstation으로 평가하고 이에 대한 암호취약점을 대응하고 있습니다. 가장 강력한 보안 암호 시스템을 위해
				반드시 필요한 검증 입니다. 쿤텍은 <b><span style="color: rgb(0, 117, 200);">국내
						유일의 DPAWS 전문 엔지니어를 보유 하고 있으며 제품 공급 과 기술지원, 평가 서비스를 지원</span></b>합니다.
			</span>
		</p>
		<p class="MsoNormal" style="line-height: 1.5;">
			<b style="line-height: 1.5; background-color: rgb(255, 255, 255);"><span
				style="font-size: 12pt;"><br>DPAWS 솔루션 주요 기능</span></b><span
				style="line-height: 1.5; text-align: center;">​</span>
		</p>
		<p style="line-height: 1.2;">
			<b style="line-height: 1.5;"> 
			<br> ● 전력 및 전자기파 분석용 완벽 테스팅 솔루션<br>
			<br> ● 전력 분석 특화 소프트웨어<br>
			<br> ● 직관적인 사용자 인터페이스, 강력한 데이터 시각화<br>
			<br> ● 프로젝트 중심 설계로 개별 프로젝트별 분석효율을 최적화<br>
			<br> ● Matlab, Python 등 3rd Party 도구와 용이하게 연동<br>
			<br> ● 다수의 파형수집 센서, 디바이스 프로토콜, 다양한 폼팩터 지원<br>
			<br> ● AES, RSA, ECC, DES, SHA 등 대부분의 암호화 알고리즘 분석 지원<br>
			<br> ● 대량의 데이터를 고속으로 처리하여 분석 범위 및 정밀도 향상<br>
			<br> ● FIPS 140, EMVco, DoD Anti-tamper, PCI(Payment and Card
				Industry)등 보안 검증 테스트 프로파일 호환<br>
			<br> ● 사용자 목적에 따른 변경이 가능<br>
			<br>
			</b>
		</p>

		<p align="left" style="line-height: 1.2;">&nbsp;</p>
		<p>&nbsp;&nbsp;</p>

		<div style="text-align: center;" align="center">
			<img class="img_wid" src="{% static '/img/product/02_01.png' %}">

		</div>
		<span style="font-family: 돋움, dotum; line-height: 1.5;">
			<div style="text-align: center;" align="center">
				<span style="line-height: 1.5;">
				<b>&nbsp;&lt;DPAWS 제품 구성&gt;</b></span>
			</div>
		</span>
		<p>&nbsp;</p>
	</div>
	
</div>
{% endblock content %}
