{% include "homepage/contact/maps.html" %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<br>
			<h4>
				문의사항을 남겨주세요.
			</h4>
			<div id="sendmessage">Your message has been sent. Thank you!</div>
			<div id="errormessage"></div>
			<form action="" method="post" role="form" class="contactForm">
			{% csrf_token %}  
				<div class="form-group">
					<input type="text" name="name" class="form-control" id="name"
						placeholder="Your Name" data-rule="minlen:4"
						data-msg="Please enter at least 4 chars" />
					<div class="validation"></div>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" name="email" id="email"
						placeholder="Your Email" data-rule="email"
						data-msg="Please enter a valid email" />
					<div class="validation"></div>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="subject" id="subject"
						placeholder="Subject" data-rule="minlen:4"
						data-msg="Please enter at least 8 chars of subject" />
					<div class="validation"></div>
				</div>
				<div class="form-group">
					<textarea class="form-control" name="message" rows="5" id="message"
						data-rule="required" data-msg="Please write something for us"
						placeholder="Message"></textarea>
					<div class="validation"></div>
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-theme" onclick="emailSend()">Send Message</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
function emailSend(){

	var email = $("#email").val();
	var subject = $("#subject").val();
	var name = $("#name").val();
	var message = $("#message").val();
	
	$.ajax({
        type: "GET",
        url: "/emailsend/",
        data : {"email":email,"subject":subject,"name":name,"message":message},
        success : function(response) {
        		alert("메일이 발송 되었습니다.");
        }
            
	});
}

</script>
