{% load staticfiles %}
{% block content %}
<!-- Over view Page -->
<h3>쿤텍(주)</h3>
<ul class="company">
	<li>임베디드 시스템 산업은 비약적으로 규모가 커지고 있고 다양화 되고 있습니다. <br>일반적인
		전자제품에서 자동차등 전통제조분야에 ICT 접목, IoT 등 시장이 확대되고 있습니다. <br>
	<br>이와 함께 임베디드 시스템 개발의 핵심요소중의 하나인 SW는 기능이 고도화, 다양화 되고 기능안전 보안등의
		새로운 이슈가 대두되면서 중요성이 점차 커지고 있어 이러한 도전에 효과적으로 대처할 수 있는 시스템 시뮬레이터등 가상화 기반
		도구에 대한 업계의 요구가 커지고 있습니다. <br>
	<br>쿤텍(주)는 임베디드 시스템 가상화 기술로 고객의 임베디드 소프트웨어 개발 효율을 극대화하고 품질, 안전
		보안등의 이슈에 빠르게 대처할 수 있는 솔루션을 공급하여 국내 소프트웨어 발전에 기여 하겠습니다.
	</li>
</ul>
<br><br>
<h3 class="mt50">비지니스영역</h3>
<p>
	<img class="img_wid" src="{% static '/img/company/01_02.gif' %}">
</p>

{% endblock content %}
