{% load staticfiles %} {% block content %}
<div align="center" style="width: 100%;">
	<table
		style="background-color: rgb(255, 255, 255); width: 500px; font-size: 9pt;">
		<tbody>
			<tr style="height: 2px;">
				<td colspan="3" style="background: rgb(0, 136, 178); height: 2px;"></td>
			</tr>
			<tr style="height: 40px;">
				<td colspan="3" style="background: rgb(241, 241, 241);"><b>&nbsp;안녕하세요
						쿤텍(주) 입니다.&nbsp <br>&nbsp;보내주신 문의사항은 다음과 같습니다.
				</b></td>
			</tr>
			<tr style="height: 2px;">
				<td colspan="3" style="background: rgb(217, 217, 217); height: 2px;"></td>
			</tr>

			<tr style="height: 31px;">
				<td style="width: 200px;"><b>&nbsp;이름 ( Name )</b></td>
				<td>|</td>
				<td>&nbsp;201193</td>
			</tr>
			<tr style="height: 1px;">
				<td colspan="3" style="background: rgb(217, 217, 217); height: 1px;"></td>
			</tr>
			<tr style="height: 32px;">
				<td><b>&nbsp;메일 ( E- mail )</b></td>
				<td>|</td>
				<td>&nbsp;coontec</td>
			</tr>
			<tr style="height: 1px;">
				<td colspan="3" style="background: rgb(217, 217, 217); height: 1px;"></td>
			</tr>
			<tr style="height: 32px;">
				<td><b>&nbsp;제목&nbsp;(Subject ) </b></td>
				<td>|</td>
				<td>&nbsp;노원섭</td>
			</tr>
			<tr style="height: 1px;">
				<td colspan="3" style="background: rgb(217, 217, 217); height: 1px;"></td>
			</tr>
			<tr style="height: 32px;">
				<td colspan="3"><b>&nbsp;내용 ( Message )</b></td>
			</tr>
			<tr style="height: 1px;">
				<td colspan="3" style="background: rgb(217, 217, 217); height: 1px;"></td>
			</tr>
			<tr style="height: 50px;">
				<td colspan="3" style="height: 50px;">&nbsp;메일이</td>
			</tr>
			<tr style="height: 2px;">
				<td colspan="3" style="background: rgb(0, 136, 178); height: 2px;"></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock content %}
